@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-light-hover: #f5e6ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

.font-ovo {
    font-family: var(--font-ovo), serif;
}
